<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copy text-center">
                    StepMania AMX © 2008-2016, <a href="//aldo.mx">Aldo Fregoso</a>.
                    <br />
                    <% for (let [index, element] of footerMenu.entries()) { %>
                        <% if (index > 0) { %> | <% } %>
                        <a href="<%= localizedUrl(element.href, locale) %>">
                            <%= __(`footer.menu.${element.label}`) %>
                        </a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</footer>

<span class="totop"><a href="#"><i class="fa fa-chevron-up"></i></a></span>
