<div class="hero">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-push-8">
                <div class="shot">
                    <img src="/img/logo_300.png" alt="Logo de StepMania AMX" class="img-responsive">
                </div>
            </div>
            <div class="col-md-8 col-md-pull-4">
                <div class="intro">
                    <p<% if (isHeroFooter) { %> class="visible-md visible-lg"<% } %>>StepMania AMX (SMA) es una versión alterna, basada en StepMania 3.9, que desde sus inicios se ha enfocado en mejorar la experiencia de juego.</p>
                    <p<% if (isHeroFooter) { %> class="visible-md visible-lg"<% } %>>Es compatible con Windows XP en adelante.</p>
                    <p class="intro-download"><a href="<%= sma.download %>" class="download"><i class="fa fa-arrow-down"></i> Descargar <small>(Última Versión: <%= sma.currentVersion %>)</small></a></p>
                    <p class="intro-download"><a href="<%= sma.otherDownloads %>" class="btn btn-primary download-alternate"><i class="fa fa-download"></i> Otras Versiones (ej. Touch)</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
