---
title: Error Reporting
includes:
    js:
        - /js/report.js
useDefaultContainer: false
---
<script type="text/json" id="translations">
{
    "error_no_crashinfo": "Please add the following file: crashinfo.txt",
    "error_no_log": "Please add the following file: log.txt",
    "percent_completed": "% completed",
    "http_error_report": "HTTP Error [status_code] when receiving your report.\n---\nServer response:",
    "success": "Your report was received successfully.\n---\nServer response:"
}
</script>
<div class="about-us block">
    <div class="container">
        <div class="about-one">
            <div class="about-one-item">
                <div class="about-one-img">
                    <img src="/img/logo_old_130.png" alt="StepMania AMX" class="img-responsive">
                </div>
            </div>
            <div class="about-one-item">
                <div class="about-one-content">
                    <h3>Sorry for the crash!</h3>
                    <p>Before continuing, let me apologize for the bad experience that crash meant to you, and let me thank you for taking the effort to report it.</p>
                    <p>You can only report crashes, I mean, error screens like the following one:</p>
                    <p class="text-center"><img src="/img/crash.png" alt="Crash" class="img-responsive inline"></p>
                    <p>If you got questions, you can ask us in the <a href="<%= localizedUrl('chat', locale) %>">chat</a>.</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="formdetails well">
            <form class="form-horizontal" id="upload_report" method="POST" action="<%= sma.apiRoot %>/upload_report.php" enctype="multipart/form-data" role="form">
                <fieldset>
                    <legend>Crash Report</legend>
                    <p>To report the crash, you will need the following files from the <strong>Logs</strong> folder,
                    located at the folder where you installed <strong>StepMania AMX</strong>:</p>
                    <div class="form-group">
                        <label for="file_crashinfo" class="col-xs-3 control-label">crashinfo.txt</label>
                        <div class="col-xs-9">
                            <input type="file" class="form-control" id="file_crashinfo" name="file_crashinfo">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="file_log" class="col-xs-3 control-label">log.txt</label>
                        <div class="col-xs-9">
                            <input type="file" class="form-control" id="file_log" name="file_log">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="text_feedback" class="col-lg-3 control-label">What were you doing during when the crash happened?</label>
                        <div class="col-lg-9">
                            <textarea class="form-control" rows="5" id="text_feedback" name="text_feedback"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-3 col-lg-9">
                            <button type="submit" class="btn btn-primary">Send</button>
                            <button type="reset" class="btn btn-default">Reset</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<div id="modal_enviando" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sending Report...</h4>
            </div>
            <div class="modal-body">
                <div class="progress progress-striped active">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                        <span class="sr-only">0% completed</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
